html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass, .sky, .road{
    position: relative;
}

.sky{
    height: 40%;
    background-color: skyblue;
}

.grass{
    height: 30%;
    background-color: seagreen;
}

.road{
    height: 30%;
    background-color: dimgray;
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width: 100%;
}

.lines{
    box-sizing: border-box;
    border: 5px dashed white;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

.mario{
    height: 100px;
    position: absolute;
    top: -40px;
    left: 0px;
    animation: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation:  drive 5s both infinite linear,
                jump 0.8s 1.2s  ease;
}

.luigi{
    height: 100px;
    position: absolute;
    top: 100px;
    left: 0px;
    animation: drive;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.clouds{
    position: absolute;
}

.clouds:nth-child(1){
    width: 200px;
    top: 120px;
    opacity: 0.5;
    animation: cloud 59s linear infinite reverse;
}
.clouds:nth-child(2){
    width: 300px;
    top: 0px;
    animation: cloud 50s linear infinite reverse;
}

/* Keyframes */

@keyframes drive {
    from{
        transform: translateX(-75px);
    }
    to{
        transform: translateX(1550px);
    }
}

@keyframes cloud{
    from{
        left: -260px;
    }
    to{
        left: 100%;
    }
}

@keyframes jump {
    0%{top: -40px;}
    50%{top: -120px;}
    100%{top: -40px;}
}